/* Styles by Bitslayn*/
.owo_formatting > h2:nth-child(odd):not(:nth-last-child(2))::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  margin-top: 1px;
  background-color: var(--background-modifier-accent);
}
.funky_switch [class^="divider"] {
  display: none;
}
